<div class="container">
    <h1>New Post</h1>
    <form action="/posts/create" method="POST">
        Title: <input type="text" name="title"/><br/>
        Content: <input type="text" name="content"/><br/>
        <input type="submit" class="btn btn-primary"/>
    </form>
</div>